.upgradeData
  p Your current data allowance is {{$root.customer.contract.data}}GB
  p Here are your upgrade options:
  table.table.table-bordered
    thead
      tr
        td #
        td Allowances
        td Total Monthly Cost
    tbody
      tr
        td 1
        td 2GB of Data, 600 minutes, unlimited texts
        td £26.00
      tr
        td 2
        td 4GB of Data, 600 minutes, unlimited texts
        td £35.00
      tr
        td 3
        td Unlimited Data, 600 minutes, unlimited texts
        td £45.00
  p If you'd like to upgrade I can invite a Vodafone advisor to this chat? They may also be able to offer you other options.